---
import Layout from '~/layouts/layout.astro';
---

<Layout
  path="/desszertek/almas-pite"
  title="Almás pite"
  description="Arany barnára sült, gondosan elkészítet, omlós tésztában illatos, fahéjas, édes és egyben savanykás alma reszeléket ízlelhetünk!"
  keywords="almás pite, apple pie, desszert, dessert"
>
  <main class="container">
    <div class="row" transition:name="title">
      <div class="col-12">
        <h1 class="text-center mt-5">Almás pite</h1>
      </div>
    </div>

    <div class="row pt-5">
      <div class="col-md-4">
        <img src="/images/almas-pite.jpg" class="img-fluid rounded" alt="Almás pite" />

        <h2 class="fs-4 mt-4">Hozzávalók:</h2>
        <p class="mb-0">A tésztához:</p>
        <ul>
          <li>1 csomag sütőpor</li>
          <li>1 csipet só</li>
          <li>50 dkg liszt</li>
          <li>15 dkg vaj</li>
          <li>2 db tojás</li>
          <li>6 evőkanál cukor</li>
          <li>4 evőkanál tejföl</li>
          <li>zsemlemorzsa</li>
        </ul>
        <p class="mb-0">A töltelékhez:</p>
        <ul>
          <li>1 kg piros alma</li>
          <li>3 evőkanál barna cukor</li>
          <li>1 teáskanál őrölt fahéj</li>
          <li>citromlé</li>
        </ul>
        <p class="mb-0">A tetejére:</p>
        <ul>
          <li>porcukor</li>
        </ul>
      </div>

      <hr class="d-md-none w-75 mx-auto my-5" />

      <div class="col-md-8">
        <p>
          Arany barnára sült, gondosan elkészítet, omlós tésztában illatos, fahéjas, édes és egyben
          savanykás alma reszeléket ízlelhetünk!
        </p>

        <h2 class="fs-4 mt-4">Elkészítés</h2>
        <p>
          A tésztához a sütőport, a sót és a lisztet összekeverjük, majd a hideg vajjal
          összemorzsoljuk. Hozzáadjuk a tojásokat, a cukrot, a tejfölt és alaposan összegyúrjuk.
          Legalább fél órára hűtőbe tesszük.
        </p>
        <p>
          Az almákat megpucoljuk, nagylyukú reszelőn lereszeljük, és kifacsarjuk. Ízesítjük
          cukorral, fahéjjal és citromlével.
        </p>
        <p>
          Hűtés után a tésztát 2 részre osztjuk, és lisztezett felületen kinyújtjuk kb. 0,5 cm
          vastagságúra.
        </p>
        <p>
          Egy 38x26 cm-es tepsi alját kibéleljük sütőpapírral, erre kerül az első adag kinyújtott
          tészta, megszurkáljuk egy villával és megszórjuk vékonyan zsemlemorzsával. Erre terítjük
          szét az almás tölteléket, majd lefedjük a kinyújtott tészta másik felével. A tetejét is
          megszurkáljuk.
        </p>
        <p>
          180 fokra előmelegített sütőben, légkeverésen kb. 30-40 percig sütjük. Ha kihűlt,
          porcukorral megszórjuk és kockára vágva tálaljuk.
        </p>
        <p>
          Erdeti recept:
          <a
            href="https://www.mindmegette.hu/almas-pite-a-hagyomanyos-recept.recept/"
            target="_blank"
            class="link fw-bold"
            style="color: var(--clr-secondary)">mindmegette.hu</a
          >
        </p>
      </div>
    </div>
  </main>
</Layout>
