---
import Layout from '~/layouts/Layout.astro';
---

<Layout
  title="Joghurt"
  path="/desszertek/joghurt"
  description="A joghurt egy tejtermék, amelyet erjesztett tejből készítenek. Ez a finom és tápláló étel évszázadok óta része az emberi étrendnek, és számos kultúrában készül és fogyasztják."
  keywords="joghurt"
>
  <main class="container">
    <div class="row" transition:name="title">
      <div class="col-12">
        <h1 class="text-center mt-5">Joghurt</h1>
      </div>
    </div>

    <div class="row pt-5">
      <div class="col-md-4">
        <img src="/images/joghurt.png" class="img-fluid rounded" alt="Joghurt" />

        <h2 class="fs-4 mt-4">Hozzávalók</h2>
        <p class="mb-0">A joghurthoz:</p>
        <ul>
          <li>1l Teljes tej(min. 3,7%-os zsírtartalmú)</li>
          <li>7dkg Joghurt élő és aktív kultúrákkal</li>
        </ul>
        <p class="mb-0">A recepthez:</p>
        <ul class="mb-0">
          <li>1 bögre teljes kiőrlésű zab</li>
          <li>1 bögre joghurt</li>
          <li>ízlés szerint olajos magvak</li>
          <li>ízlés szerint gyümölcsök</li>
        </ul>
      </div>

      <hr class="d-md-none w-75 mx-auto my-5" />

      <div class="col-md-8">
        <p>
          A joghurt egy tejtermék, amelyet erjesztett tejből készítenek. Ez a finom és tápláló étel
          évszázadok óta része az emberi étrendnek, és számos kultúrában készül és fogyasztják. A
          joghurt készítése során tejet erjesztenek jóindulatú baktériumok segítségével, általában
          olyan baktériumtörzsekkel, mint a Lactobacillus bulgaricus és a Streptococcus
          thermophilus. Ez a fermentációs folyamat megváltoztatja a tej állagát és ízét, valamint
          hozzáad néhány táplálkozási előnyt is.
        </p>
        <p>
          A joghurt sokféleképpen fogyasztható: önmagában, müzliben, smoothie-kban, desszertként
          vagy akár sós ételek kísérőjeként is. Nagy népszerűségét részben egészséges
          tulajdonságainak és változatosságának köszönheti, így bármilyen étkezés részévé tehető.
          Azok számára, akik laktózintoleranciában szenvednek, elérhetőek laktózmentes joghurtok is,
          így szélesebb körben élvezhetik ennek az ételnek az előnyeit.
        </p>
        <h2 class="fs-4 mt-4">Elkészítés</h2>
        <p>
          Öntsünk egy liter teljes tejet egy serpenyőbe, és helyezzük a tűzhelyre közepes lángon. Az
          82°C hőmérséklet eléréséig melegítsük a tejet. Fontos, hogy időnként megkeverjük, hogy
          elkerüljük a bőrképződést vagy az alján való odaégést.
        </p>
        <p>
          Amint a tej eléri a 82°C-ot, vegyük le a serpenyőt a tűzhelyről, és hagyjuk lehűlni
          44°C-ra. Ehhez lehet szükség hűtőre vagy hűtőzacskóra, hogy gyorsabban lehűljön.
        </p>
        <p>
          Vegyünk 7dkg bolti joghurtot, amelynek élő és aktív kultúrája van. Ezt a joghurtot
          keverjük össze egy csészevel a tejböl.Öntsük vissza a joghurt-tej keveréket a serpenyőbe a
          lehűlt tejhez, és alaposan keverjük össze. Ügyeljünk arra, hogy a keverék hőmérséklete ne
          csökkenjen 44°C alá. Ha szükséges, óvatosan melegítsük fel rövid időre.
        </p>
        <p>
          Öntsűk a keveréket kisebb üvegekbe. Helyezzük az üvegeket egy meleg helyre, amely
          körülbelül 44-46°C hőmérsékleten tartja őket. Ezt a hőmérsékletet megőrizhetjük például
          egy meleg vízzel teli medencében vagy a sütöben.
        </p>
        <p>
          Hagyjuk állni az üvegeket 6-12 órán keresztül, hogy a joghurt besűrűsödjön és az élő
          kultúrák beinduljanak. Minél hosszabb ideig hagyjuk állni, annál sűrűbb és savanykásabb
          lesz a joghurt.
        </p>
        <p>
          A zabot és a joghurtot keverd össze, hagyd kicsit állni, hogy a zab megszívja magát.
          Szeleteld fel a gyümölcsőket, tedd a kására a magvakkal együtt.
        </p>
        <p>
          Erdeti recept a joghurthoz:
          <a
            href="https://downshiftology.com/recipes/how-to-make-homemade-yogurt/"
            target="_blank"
            class="link fw-bold"
            style="color: var(--clr-secondary)">ownshiftology.com</a
          ><br />
           Erdeti recept a reggelihez:
          <a
            href="https://cookpad.com/hu/receptek/8989564-reggeli-tipp-gyumolcsos?ref=search&search_term=joghurt%20reggeli"
            target="_blank"
            class="link fw-bold"
            style="color: var(--clr-secondary)">cookpad.com</a
          >
        </p>
      </div>
    </div>
  </main>
</Layout>
