---
import Layout from '~/layouts/Layout.astro';
---

<Layout
  path="/desszertek/voros-barsony-torta"
  title="Vörös bársony torta"
  description="A red velvet, vagyis a vörös bársony tökéletes elnevezése a süteménynek, mert nemcsak a színére utal, de tésztájának puha, selymes állagára is."
  keywords="vörös bársony torta, torta, red velvet cake, cake, desszert, dessert"
>
  <main class="container">
    <div class="row" transition:name="title">
      <div class="col-12">
        <h1 class="text-center mt-5">Vörös bársony torta</h1>
      </div>
    </div>

    <div class="row pt-5">
      <div class="col-md-4">
        <img
          src="/images/voros-barsony-torta.jpg"
          class="img-fluid rounded"
          alt="Vörös bársony torta"
        />

        <h2 class="fs-4 mt-4">Hozzávalók</h2>
        <p class="mb-0">A tésztához:</p>
        <ul>
          <li>25 dkg liszt</li>
          <li>1 csomag sütőpor</li>
          <li>1 csipet só</li>
          <li>2 evőkanál curkozatlan kakaópor</li>
          <li>12 dkg lágy vaj</li>
          <li>25 dkg cukor</li>
          <li>2 egész tojás</li>
          <li>2 dl tejföl</li>
          <li>1 teáskanál vaniliaeszencia</li>
          <li>1 kávéskanál szódabikarbóna</li>
          <li>1 kávéskanál ecet</li>
          <li>2 evőkanál piros ételfesték</li>
        </ul>

        <p class="mb-0">A krémhez:</p>
        <ul class="mb-0">
          <li>25 dkg mascarpone krémsajt</li>
          <li>2 dl tejszín</li>
          <li>1 evőkanál vaniliaeszencia</li>
          <li>12 dkg porcukor</li>
        </ul>
      </div>

      <hr class="d-md-none w-75 mx-auto my-5" />

      <div class="col-md-8">
        <p>
          Ennek a vonzó süteménynek a tésztája mélyvörös színű, amelyet általában hófehér krémmel
          töltenek meg, és azzal is vonják be.
        </p>
        <p>
          A red velvet, vagyis a vörös bársony tökéletes elnevezése a süteménynek, mert nemcsak a
          színére utal, de tésztájának puha, selymes állagára is. Olyan sima és érzéki ízre is, mint
          rénézésre, pedig valüjában egy vajas kevert piskóta egy kis kakaóval, amit joghurt,
          tejföl, író vagy tejsavó gazdagít és tesz puhává, könnyedségét pedig a szódabikarbónának
          köszönheti, ami akkor fejti ki tökéletesen a hatását a tésztában, ha egy kis ecettel
          összekeverjük, és hagyjuk felhabzani.
        </p>

        <h2 class="fs-4 mt-4">Elkészítés</h2>
        <p>
          A tésztához a lisztet, a sót, a sütóport és a kakaóport összekeverjük, majd egy
          keverőtálba szitáljuk. A lágy vajat egy másik tálban a cukorral habosra keverjük,
          hozzáadjuk a vaniliaeszenciát és a tojásokat, majd simára keverjük. A tejfölben elkeverjük
          a piros ételfestéket. A szódabikarbónát egy evőkanálba tesszük, rácsöpögtetjük az ecetet,
          majd ha felhabzott, a lisztes keverékhez adjuk, amihez hozzáöntjük a piros tejfölt is,
          illetve hozzákanalazzuk a tojásos-vajas keveréket, és robotgéppel krémesre, simára
          keverjük.
        </p>
        <p>
          Egy 24 centis kapcsos tortaformát kivajazunk és kilisztezünk, belesimítjuk a tésztát ls
          180 fokos sütőbe toljuk, légkeverés mellett kb. 30 perc alatt megsütjük. A sütőből kivéve
          hűlni hagyjuk, amikor langyosodik, akkor kivesszük a kapcsos tortaformából, és rácson
          hagyjuk teljesen kihűlni.
        </p>
        <p>
          A töltelékhez és a bevonathoz a tejszínt habbá verjük, majd a mascarponét a porcukorral és
          a vaníliaaromával kihabosítjuk. Először két-három evőkanál tejszínhabbal kicsit
          fellazítjuk a mascarponét, majd a többi tejszínt hozzáadva, könnyed mozdulatokkal
          összekeverjük. A kihűlt piros piskótát lapjában három részre vágjuk, megtöltjük a lapokat
          a három részre elosztott mascarponés krémmel, majd maradékkal kívülről is bevonjuk vele.
          Tálalásig a hűtőben pihentetjük. Jó étvágyat kívánunk hozzá!
        </p>
        <p>
          Erdeti recept:
          <a
            href="/images/red-velvet-source.jpg"
            target="_blank"
            class="link fw-bold"
            style="color: var(--clr-secondary)">Óhegy-Hírek</a
          >
        </p>
      </div>
    </div>
  </main>
</Layout>
