.card {
  border: none;
  box-shadow: var(--shadow-sm);
}

.card .btn {
  width: fit-content;
  color: #fff;
  background-color: var(--clr-primary);
}

.card .btn:hover {
  background-color: var(--clr-secondary);
}
