---
import Layout from '~/layouts/Layout.astro';
---

<Layout
  title="Kijevi csirkemell"
  path="/foetelek/kijevi-csirkemell"
  description="A Kijevi csirkemell egy híres és ízletes étel. Ez az étel egy különleges csirkemell töltelékéből áll, amelyet ropogós bundába burkolnak, majd sütnek."
  keywords="kijevi csirkemell, csirkemell, csirke, chicken breast, chicken kiev, chicken, főétel, main dish"
>
  <main class="container">
    <div class="row" transition:name="title">
      <div class="col-12">
        <h1 class="text-center mt-5">Kijevi csirkemell</h1>
      </div>
    </div>

    <div class="row pt-5">
      <div class="col-md-4">
        <img src="/images/kijevicsirkemell.png" class="img-fluid rounded" alt="Kijevi csirkemell" />
        <h2 class="fs-4 mt-4">Hozzávalók</h2>
        <ul>
          <li>50dkg csirkemell</li>
          <li>Só</li>
          <li>Bors (őrölt)</li>
          <li>8dkg vaj</li>
          <li>8dkg sajt</li>
          <li>1tk citromlé</li>
          <li>1mk tárkonylevél</li>
          <li>0.5mk mustár</li>
          <li>8dkg liszt</li>
          <li>2db tojás</li>
          <li>12dkg zsemlemorzsa</li>
          <li>Olaj</li>
        </ul>
      </div>

      <hr class="d-md-none w-75 mx-auto my-5" />

      <div class="col-md-8">
        <p>
          A Kijevi csirkemell egy híres és ízletes étel, amely Ukrajna fővárosáról, Kijevről kapta
          nevét, és az évek során számos országban népszerűvé vált. Ez az étel egy különleges vajas
          töltelékel töltőt csirkemellbő áll, amelyet ropogós bundába burkolnak, majd ki sütnek. A
          Kijevi csirkemell elkészítése meglehetősen időigényes és munkaigényes folyamat, de az
          eredmény kárpótol mindenkit az odafigyelésért.
        </p>
        <p>
          A Kijevi csirkemell egy különleges étel, amely ötvözi a mogyorós, vajos töltelék
          krémesességét a csirkehús szaftosságával és a ropogós bundával. Általában citromkarikával
          vagy zöldfűszerrel díszítik, és gyakran krumplipürével vagy más körettel tálalják. Ez egy
          igazi különlegesség azoknak, akik szeretik az elegáns és ízletes ételeket.
        </p>
        <h2 class="fs-4 mt-4">Elkészítés</h2>
        <p>
          A csirkemellfiléket megmossuk, szárazra töröljük. Bevágjuk, majd kihajtjuk őket. Ezután
          kb. fél centi vastag, téglalap alakú szeletekké klopfoljuk. Ezt úgy a legjobb, ha egy
          darab folpakot teszünk a húsra.
        </p>
        <p>
          A szeleteket meghintjük egy kevés sóval és borssal, majd a hűtőbe rakjuk, amíg elkészítjük
          a tölteléket.
        </p>
        <p>
          A töltelékhez összekeverjük a vajat és a reszelt sajtot, majd a citromlével, egy kevés
          sóval, a felaprított tárkonnyal, a mustárral és egy leheletnyi borssal ízesítjük. Kb. 15
          percre a mélyhűtőbe tesszük, hogy kézzel formázható legyen.
        </p>
        <p>
          A fűszeres vajat elosztjuk a hússzeletek közepén, ráhajtjuk a húst, majd felgöngyölítjük,
          ahogy a töltött káposztát szoktuk.
        </p>
        <p>
          A töltött csirkemelleket megforgatjuk a lisztben, a felvert tojásban, majd a
          zselemorzsában. Végül bő, közepesen forró olajban (vagy olajsütőben) 8-10 perc alatt
          aranybarnára sütjük. Papírszalvétára szedve lecsepegtetjük.
        </p>
        <p>
          Erdeti recept:
          <a
            href="https://www.mindmegette.hu/kijevi-csirkemell.recept/"
            target="_blank"
            class="link fw-bold"
            style="color: var(--clr-secondary)">mindmegette.hu</a
          >
        </p>
      </div>
    </div>
  </main>
</Layout>
