---
import Layout from '~/layouts/layout.astro';
---

<Layout
  path="/foetelek/milanoi-makaroni"
  title="Milánói makaróni"
  description=" Izlese, fűszeres, pardicsomos darált hús áldentére főtőt makaróni ágyon, érlelt reszelt parmezán sajtal dízítet!"
  keywords="milánói makaróni, pasta milanese, pasta, tészta, főétel, main dish"
>
  <main class="container">
    <div class="row" transition:name="title">
      <div class="col-12">
        <h1 class="text-center mt-5">Milánói makaróni</h1>
      </div>
    </div>

    <div class="row pt-5">
      <div class="col-md-4">
        <img src="/images/milanoi-makaroni.jpg" class="img-fluid rounded" alt="Milánoi makaróni" />

        <h2 class="fs-4 mt-4">Hozzávalók:</h2>
        <ul>
          <li>50 dkg makaróni tészta</li>
          <li>30 dkg darált hús</li>
          <li>0.5 dl étolaj</li>
          <li>1 fej vöröshagyma</li>
          <li>só</li>
          <li>bors</li>
          <li>1 db babérlevél</li>
          <li>1 teáskanál oregano</li>
          <li>1 teáskanál kakukkfű</li>
          <li>1 teáskanál bazsalikom</li>
          <li>1 teáskanál rozmaring</li>
          <li>1 evőkanál citromlé</li>
          <li>1 evőkanál kristálycukor</li>
          <li>20 dkg sűrített paradicsomkonzerv</li>
          <li>10 dkg reszelt sajt</li>
        </ul>
      </div>

      <hr class="d-md-none w-75 mx-auto my-5" />

      <div class="col-md-8">
        <p>
          Izlese, fűszeres, pardicsomos darált hús áldentére főtőt makaróni ágyon, érlelt reszelt
          parmezán sajtal dízítet!
        </p>

        <h2 class="fs-4 mt-4">Elkészítés</h2>
        <p>
          A vöröshagymát nagyon apróra összevágjuk, és olajon megdinszteljük. Rátesszük a darált
          húst, és fedő alatt puhára pároljuk a fűszerekkel.
        </p>
        <p>
          Amikor a hús megpuhult (kb. 30 perc), belekeverjük a citromlevet, a cukrot és a vízzel
          kicsit felhígított paradicsomsűrítményt (kb. 2 dl vizet adunk hozzá). Együtt főzzük még
          kb. 10-15 percig.
        </p>
        <p>
          Ha szükséges, a fűszerekkel utána ízesítünk. Addig főzzük, amíg elég sűrű lesz az állaga.
          Akkor jó, amikor már rotyog.
        </p>
        <p>
          Közben a makaróni tésztát sós vízben kifőzzük a csomagoláson feltűntetett leírás szerint.
          Leszűrjük, a kész szósszal elkeverjük. Reszelt sajttal megszórva tálaljuk.
        </p>
        <p>
          Erdeti recept:
          <a
            href="https://www.mindmegette.hu/milanoi-makaroni-iii.recept/"
            target="_blank"
            class="link fw-bold"
            style="color: var(--clr-secondary)">mindmegette.hu</a
          >
        </p>
      </div>
    </div>
  </main>
</Layout>
