---
import Layout from '~/layouts/Layout.astro';
---

<Layout
  path="/foetelek/roston-csirkemell"
  title="Roston csirkemell, rizs, tzatziki"
  description="A ropogós roston sült csirkemell, illatos rizs és friss tzatziki harmonikus kombinációja. Az aranyló csirkehús és a puha rizs találkozása, melyet friss tzatziki saláta koronáz meg."
  keywords="roston csirkemell, natúr szelet, csirkemell, csirke, chicken breast, chicken, rizs, rice, tzatziki, főétel, main dish"
>
  <main class="container">
    <div class="row" transition:name="title">
      <div class="col-12">
        <h1 class="text-center mt-5">Roston csirkemell, rizs, tzatziki</h1>
      </div>
    </div>

    <div class="row pt-5">
      <div class="col-md-4">
        <img
          src="/images/roston-csirkemell.jpg"
          class="img-fluid rounded"
          alt="Roston csirkemell, rizs, tzatziki"
        />

        <h2 class="fs-4 mt-4">Hozzávalók</h2>
        <ul>
          <li>1 kg csirkemell</li>
          <li>4 dl tej</li>
          <li>só</li>
          <li>8 szem egész bors</li>
          <li>3 db babérlevél</li>
          <li>3 gerezd fokhagyma</li>
          <li>10 dkg teavaj</li>
        </ul>

        <p class="mb-0">A tzatzikihez:</p>
        <ul class="mb-0">
          <li>2 db kígyóuborka</li>
          <li>só</li>
          <li>1 pohár tejföl</li>
          <li>1 pohár natúr joghurt</li>
          <li>3 gerezd fokhagyma</li>
          <li>1 csepp citromlé</li>
          <li>olivaolaj</li>
        </ul>
      </div>

      <hr class="d-md-none w-75 mx-auto my-5" />

      <div class="col-md-8">
        <p>
          A ropogós roston sült csirkemell, illatos rizs és friss tzatziki harmonikus kombinációja.
          Az aranyló csirkehús és a puha rizs találkozása, melyet friss tzatziki saláta koronáz meg.
        </p>

        <h2 class="fs-4 mt-4">Elkészítés</h2>
        <p>
          A csirkemellet ujjnyi vastagságú szeletekre vágjuk, majd enyhén kiklopfoljuk. A tejbe
          tesszük a sót, az egész borsot, a babérlevelet, beletörjük a fokhagymát, és belefektetjük
          a csirkemellszeleteket. Legalább 3-4 órára a hűtőbe tesszük.
        </p>
        <p>
          Elkészítjük a salátát. Az uborkát meghámozzuk, majd nagy lyukú sajtreszelőn lereszeljük.
          Besózzuk, majd 10-15 percre hűtőbe tesszük. Ezt követően a levét kinyomkodjuk, és egy
          tálba tesszük. Ráborítjuk a tejfölt és a natúr joghurtot, rátörjük a fokhagymát, és sóval,
          fehérborssal ízesítjük. Jól összekeverjük, majd 1-2 csepp ciromlevet és kevés olívaolajat
          adunk hozzá. Tálalásig hűtőbe tesszük.
        </p>
        <p>
          Amikor a hús megpácolódott, lecsepegtetjük, meghintjük egy kevés sóval, majd a felhevített
          vajban néhány perc alatt mindkét oldalát megsütjük. 5 percre fedővel lefedjük, majd
          ismételten mindkét oldalát addig sütjük, míg aranybarna színt nem kap.
        </p>
        <p>A húst melegen, párolt rizzsel és a tzatziki salátával tálaljuk.</p>
        <p>
          Erdeti recept:
          <a
            href="https://www.mindmegette.hu/tejben-vajban-csirkemell-tzatziki-salataval-es-parolt-rizzsel.recept/"
            target="_blank"
            rel="noopener noreferrer"
            style="color: var(--clr-secondary)"
            class="link fw-bold">mindmegette.hu</a
          >
        </p>
      </div>
    </div>
  </main>
</Layout>
