---
import { navItems } from '~/constants/navItems';

const { path } = Astro.props as { path: string };
---

<nav class="navbar navbar-expand-lg">
  <div class="container-fluid px-4">
    <a class="navbar-brand fw-semibold text-light" href="/">IKT - Kedvenc Ételek</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-theme="dark"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class={`nav-link text-light${path === '' ? ' active' : ''}`}
            {...path === '' && { 'aria-current': 'page' }}
            href="/">Főoldal</a
          >
        </li>

        {
          navItems.map(({ name, items }) => (
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle text-light"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {name}
              </a>

              <ul class="dropdown-menu dropdown-menu-end">
                {items.map((item) => (
                  <li>
                    <a
                      class={`dropdown-item${path === item.path ? ' active' : ''}`}
                      {...(path === item.path && { 'aria-current': 'page' })}
                      href={item.path}
                    >
                      {item.name}
                    </a>
                  </li>
                ))}
              </ul>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</nav>
